.transaction__container {
    background: #F3F4F6;
    border-radius: 20px;
    padding: 25px 50px 66px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: 0.1s linear;
}

.transaction__container_emptyState{
    background: #F3F4F6;
    border-radius: 20px;
    padding: 25px 50px 25px;
    display: flex;
    flex-direction: column;
    transition: 0.1s linear;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    transform: none ;
    color: #6B7280;
}


.transaction__container:hover{
    transform: scale(1.02);
}

.transaction__plus {

    letter-spacing: -0.01em;
    color: #76CA66;
    font-size: 16px;
    line-height: 24px;
}

.transaction__minus {
    letter-spacing: -0.01em;
    color: #FD4E5D;
    font-size: 16px;
    line-height: 24px;
}

.transactions__heading {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0;
    margin-bottom: 25px;
}


.transactions {
    border-collapse: collapse;
    width: 100%;
}

.transactions__head {
    background: #116ACC;
}

.transactions__head_item:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.transactions__head_item:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.transactions__head_item {
    letter-spacing: -0.01em;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 20px 0;
}

.transactions__head_item:first-child {
    padding-left: 20px;
}

.transactions__body {
    border-bottom: 2px solid rgba(0, 82, 255, 0.1);
}

.transactions__body_item {
    letter-spacing: -0.01em;
    font-size: 16px;
    line-height: 24px;
    color: #374151;
    padding: 20px 0;

}

.link__container {
    text-decoration: none;

}


.link__container:active {
    color: black;
}

.selected__page {
    background: #116ACC;
    color: white !important;
}

.pagination__list {
    display: flex;
    list-style: none;
margin-bottom: 25px;
}

.pagination__list_item {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #9CA3AF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}